*.class
*.iml
.clj-kondo
.cpcache
.DS_Store
.hg/
.hgignore
/.envrc
/.envrc-docker
/.github/.lsp
/.idea
/.lsp/
/.nrepl-port
/checkouts
/classes
/keystore.jks
/logs
/scripts
/target
pom.xml
pom.xml.asc
profiles.clj
